/* Start Variables */
:root {
  --main-color: #19c8fa;
}
/* End Variables */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
header {
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::before {
  content: "";
  height: 1px;
  background-color: white;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  left: 15px;
}

header .logo img {
  height: 60px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  z-index: 2;
}
nav ul li a {
  display: block;
  padding: 40px 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

nav ul li .active,
nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

nav .form {
    margin-left: 30px ;
    width: 40px;
    height: 30px;
    color: white;
    position: relative;
    border-left:1px solid white ;
}

nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 0;
}
/* End Header */
